<body>
    <section class="nav">
        <a href="/">MOVIEMAGIC</a>
        <div class="container webdesigntuts-workshop">
            <form action="/search" method="POST">
                <input type="text" name="search" value="" placeholder="What are you looking for?">
                <input type="submit" value="Search">
            </form>
        </div>
        <a href="/myFavourite">MySHOWS</a>
    </section>
</body>

</html>